.cke_reset_all, .cke_reset_all *,
.cke_reset_all a, .cke_reset_all textarea, .cke_colorblock {
    font-family: "Roboto", "Raleway", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #828891;
}

.cke_dialog {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.cke_dialog .cke_dialog_title, .cke_dialog .cke_dialog_footer {
    background-color: transparent;
    padding: 20px;
}

.cke_dialog .cke_dialog_title {
    font-family: "Montserrat", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 500;
    color: #1a77ff !important;
    border-bottom-color: #dbe2e7;
}

.cke_dialog .cke_dialog_footer {
    border: none;
}

.cke_dialog .cke_dialog_contents_body {
    padding: 20px 20px 0 20px;
}

.cke_dialog_background_cover {
    opacity: 0.4;
}

.cke_dialog_ui_button, .cke_colormore {
    font-weight: 500;
    border: none !important;
    border-radius: 0 !important;
}

.cke_dialog_footer a.cke_dialog_ui_button {
    font-size: 13px !important;
    padding: 13px 22px !important;
}

.cke_dialog_footer a.cke_dialog_ui_button, .cke_colormore {
    color: white !important;
    background-color: #828891;
}

.cke_dialog_footer a.cke_dialog_ui_button:hover, .cke_colormore:hover {
    background-color: #9da1a6 !important;
}

.cke_dialog_footer a.cke_dialog_ui_button:active, .cke_colormore:active {
    background-color: #474e56 !important;
}

.cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_ok {
    background-color: #1a77ff !important;
}

.cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_ok:hover {
    background-color: #3889ff !important;
}

.cke_dialog_footer a.cke_dialog_ui_button.cke_dialog_ui_button_ok:active {
    background-color: #005ee6 !important;
}

span.cke_dialog_ui_button {
    background-color: transparent !important;
}

.cke_colormore {
    font-weight: 500 !important;
    color: white !important;
}

.cke_dialog_close_button {
    top: 24px !important;
    right: 30px !important;
    font-family: "GrappletIcons" !important;
    font-size: 2.25rem !important;
    line-height: 1.3125rem !important;
    color: #1a77ff !important;
    background: none !important;
}

.cke_dialog_close_button:before {
    content: "\e9ed";
}

.cke_dialog_close_button span {
    display: none;
}

.cke_colorauto {
    border: none !important;
}

.cke_colorauto:hover {
    color: #474e56 !important;
}

.cke_dialog_body input, .cke_dialog_body button, .cke_dialog_body select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.cke_dialog_body input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #828891 !important;
    background-color: white;
}

.cke_colorblock, .cke_colorblock a {
    color: #828891;
}

.cke_resizer {
    display: none;
}

@font-face {
	font-family: 'GrappletIcons';
	src: url("/assets/fonts/GrappletIcons.eot?wmr42p");
	src: url("/assets/fonts/GrappletIcons.eot?wmr42p#iefix") format("embedded-opentype"),url("/assets/fonts/GrappletIcons.ttf?wmr42p") format("truetype"),url("/assets/fonts/GrappletIcons.woff?wmr42p") format("woff"),url("/assets/fonts/GrappletIcons.svg?wmr42p#GrappletIcons") format("svg");
	font-weight: normal;
	font-style: normal
}

.cke_menu_panel {
	width: 50px !important;
	background-color: #f4f4f4 !important;
	border: 0 !important;
}

.cke_menubutton__justifyleft0 .cke_button_icon,
.cke_menubutton__justifycenter1 .cke_button_icon,
.cke_menubutton__justifyright2 .cke_button_icon,
.cke_menubutton__justifyblock3 .cke_button_icon,
.cke_menubutton__justifyleft0 .cke_menubutton_label,
.cke_menubutton__justifycenter1 .cke_menubutton_label,
.cke_menubutton__justifyright2 .cke_menubutton_label,
.cke_menubutton__justifyblock3 .cke_menubutton_label {
	display: none;
}

.cke_menubutton__justifyleft0 .cke_menubutton_icon,
.cke_menubutton__justifycenter1 .cke_menubutton_icon,
.cke_menubutton__justifyright2 .cke_menubutton_icon,
.cke_menubutton__justifyblock3 .cke_menubutton_icon {
	color: inherit;
	cursor: pointer;
	background: none !important;
	width: 1.625rem;
	height: 1.625rem;
	margin: .3125rem .4375rem;
	float: none;
	display: block;
	text-align: center;
	font-size: 0;
}

.cke_menubutton__justifyleft0 .cke_menubutton_icon::after,
.cke_menubutton__justifycenter1 .cke_menubutton_icon::after,
.cke_menubutton__justifyright2 .cke_menubutton_icon::after,
.cke_menubutton__justifyblock3 .cke_menubutton_icon::after {
	font-family: "GrappletIcons";
	font-size: 24px;
	border: none;
	width: initial;
	height: initial;
	margin: -.625rem -.4375rem -.625rem 0;
}

.cke_menubutton__justifyleft0.cke_menubutton_on,
.cke_menubutton__justifycenter1.cke_menubutton_on,
.cke_menubutton__justifyright2.cke_menubutton_on,
.cke_menubutton__justifyblock3.cke_menubutton_on {
	background-color: #f4f4f4;
	border: 0;
}

.cke_menubutton__justifyleft0.cke_menubutton_on .cke_menubutton_icon::after,
.cke_menubutton__justifycenter1.cke_menubutton_on .cke_menubutton_icon::after,
.cke_menubutton__justifyright2.cke_menubutton_on .cke_menubutton_icon::after,
.cke_menubutton__justifyblock3.cke_menubutton_on .cke_menubutton_icon::after {
	color: #1a77ff;
}

.cke_menubutton__justifyleft0.cke_menubutton:hover,
.cke_menubutton__justifycenter1.cke_menubutton:hover,
.cke_menubutton__justifyright2.cke_menubutton:hover,
.cke_menubutton__justifyblock3.cke_menubutton:hover {
	background-color: #f4f4f4;
}

.cke_menubutton__justifyleft0 .cke_menubutton_icon:hover,
.cke_menubutton__justifycenter1 .cke_menubutton_icon:hover,
.cke_menubutton__justifyright2 .cke_menubutton_icon:hover,
.cke_menubutton__justifyblock3 .cke_menubutton_icon:hover {
	color: #474e56;
}

.cke_menubutton__justifyleft0 .cke_menubutton_icon::after {
	content: "\ea2e";
}

.cke_menubutton__justifycenter1 .cke_menubutton_icon::after {
	content: "\ea2d";
}

.cke_menubutton__justifyright2 .cke_menubutton_icon::after {
	content: "\ea2f";
}

.cke_menubutton__justifyblock3 .cke_menubutton_icon::after {
	content: "\e90e";
}
